body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans';
  }

  main {
    flex: 1 0 auto;
    margin-top: -19%;
  }

img {
    width: 60%;
}

.nav-wrapper {
    background-color: #ffe521;
}

nav ul a {
    color: black;
}

.color-block {
    background-color: #ffe521;
}

h3 {
    font-size: 150%;
    text-align: center;
}

.dropdown-content li a.sedes {
    color: black;
}

a.dropdown-trigger.btn {
    background-color: #56f89a;
}


img.col.s12.m12.l12.background-image {
    position: relative;
    z-index: -1;
    width: 25%;
    margin-top: 5%;
    left: 35%;
}

<<<<<<< HEAD:src/New DataDashboard/style.css
i {
    color: #ffe521;
=======
i { 
    color:#56f89a;
>>>>>>> 4743a115237bcb1e6c6f83f0ea96da15cce66976:New DataDashboard/style.css
}
.material-icons.menu {
    color:white;
}
.material-icons.left {
    color: white;
}

.col.s6.m4.l4.waves-effect.waves-light.btn {
    margin-left: 33%;
    background-color: #56f89a;}

h2 {
    z-index: 1;
    font-family: 'Bitter';
    letter-spacing: -2px;
    margin-top: 14%;
    margin-bottom: -20%;
}

footer.page-footer {
    background-color: #ffe521;
}

form {
    margin-top: 10%;
    position: relative;
    z-index: 2;
}